@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<button class="btn btn-default" onclick="Create();">Create</button>

<script>
    function Create() {
        var au = "Basic " + sessionStorage.getItem('MyToken');
        alert(au);
        $.ajax({
            type: "GET",
            url: "http://localhost:61886/api/ManagerWebApi",
            dataType: "jsonp",
            headers: { Authorization: "Basic " + sessionStorage.getItem('MyToken') },
            success: function (result) {
                if (result) {
                    alert("olduuu");
                    $.each(result, function (index, value) {
                        var html = "";
                        html += "<tr class='data'>";
                        html += "<td>" + value.MusteriAdi + "</td>";
                        html += "</tr>";
                        $("table").append(html);
                    });
                }
            },
            error: function (err) {
                alert("hatali");
            }
        });
    }
</script>